.magician{
    text-align:center;
}
img{
    height:200px;
}
body{
    background-color:#4e91ba;
}
h1{
    font-size:50px;
    animation: color-change 1s infinite;
}
@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}